{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <h1>User Profile</h1>

    <!-- Display User Profile Information -->
    <section>
        <h2>Profile Information</h2>
        <!-- Include logic to display user profile information here -->
    </section>

    <!-- Edit Profile Information -->
    <section>
        <h2>Edit Profile</h2>
        <!-- Include form elements to edit user profile information here -->
    </section>

    <script type="text/javascript" src="{% static '/js/buyerProfile.js' %}">
    </script>
</body>
</html>
