{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Buyer Home</title>
</head>
<body>
    <h1>Welcome to Buyer Home</h1>

    {% for message in messages %}
    <div class="alert" role = "alert">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
<!-- Search for Listings -->


    <!-- <section>
        <h2>Search for Listings</h2>
        <form action="showListings.html" method="get">
            <input type="text" id="search-input" name="search-input" placeholder="property/ location/ ...">
        </form>
        <button id="submit" onclick="handleShowListings()">Search</button>

    </section> -->

    <!-- View Profile -->
    <p>
        <h1>View or Edit profile</h1>
        <form action="{% url 'user Profile' %}" method="get">
            <button type="submit">view</button>
        </form>
    </p>


    <p>
        <h1>Browse Listings</h1>
        <form action="{% url 'view buyer listings' %}" method="get">
            <button type="submit">view</button>
        </form>
        <!-- <a href="{% url 'view seller listings' %}">View Seller Info</a> -->
    </p>
    <p>
        <h1>Current Listings</h1>
        <a href="{% url 'view_currrent_listings' %}">View Current Listings</a>
    </p>
    
    <p>
        <strong>Logout</strong>
        <form action="{% url 'logout' %}" method="get">
            <button type="submit">logout</button>
        </form>
    </p>

</body>
</html>
