
{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    
    <form>
        <label for="textbox">Enter username:</label>
        <input type="text" id="username_tb" name="username_tb" placeholder="Type something...">
    </form>

    <form>
        <label for="textbox">Enter password:</label>
        <input type="text" id="password_tb" name="password_tb" placeholder="Type something...">
    </form>

    <button id="login-submit" >login</button>

    <script type="text/javascript" src = "{% static '/js/loginPage.js' %}">
        
    </script>

</body>
</html>