{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Login Page</h1>
    
    {% for message in messages %}
    <div class="alert" role = "alert">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    
    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <p>
            <label for="username">Enter username:</label>
            <input type="text" id="username" name="username" placeholder="Type something..." required> 
        </p>
    
    
        <p>
            <label for="password">Enter password:</label>
            <input type="password" id="password" name="password" placeholder="Type something..." required> 
        </p>

        <p>
            <label for="user_type">Select The User Type:</label>
            <select id="user_type" name="user_type">
                <option value="buyer">buyer</option>
                <option value="seller">seller</option>
                <option value="admin">admin</option>
            </select>
        </p>

        <button type="submit">Log In</button>

    </form>

</body>
</html>