{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>OTP</h1>
    <h3> Enter the otp sent to your email </h3>
    
    {% for message in messages %}
    <div class="alert" role = "alert">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    
    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <p>
            <label for="otp">Enter otp sent to your email:</label>
            <input type="number" id="otp" name="otp" placeholder="Type something..." required> 
        </p>
    

        <button type="submit">Submit</button>

    </form>

</body>
</html>