
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sign up Page</title>
</head>
<body>
    <h1>Sign up</h1>
    
    <form>
        <label for="textbox">Enter Name:</label>
        <input type="text" id="name_tb" name="name_tb" placeholder="Type something...">
    </form>

    <form>
        <label for="textbox">Enter email:</label>
        <input type="text" id="email_tb" name="email_tb" placeholder="Type something...">
    </form>

    <form>
        <label for="textbox">Enter username:</label>
        <input type="text" id="username_tb" name="username_tb" placeholder="Type something...">
    </form>


    <form>
        <label for="textbox">Enter password:</label>
        <input type="text" id="password_tb" name="password_tb" placeholder="Type something...">
    </form>

    <button id="signup-submit" onclick= "handleSignupClick()">sign up</button>

    <script type="text/javascript" src = "{% static '/js/signupPage.js' %}">
        
    </script>

</body>
</html>