{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sign up Page</title>
</head>
<body>
    <h1>Sign up</h1>

    <form id = "getstuff">
        <nav>
        <label for="name_tb">Enter Name:</label>
        <input type="text" id="name_tb" name="name_tb" placeholder="Type something..."> 
        </nav>

        <nav>
        <label for="username_tb">Enter username:</label>
        <input type="text" id="username_tb" name="username_tb" placeholder="Type something..."> 
        </nav>


        <nav>
        <label for="password_tb">Enter password:</label>
        <input type="text" id="password_tb" name="password_tb" placeholder="Type something..."> 
        </nav>

        <nav>
        <label for="public_key">Upload public key file</label>
        <input type="file" id="public_key" name="public_key" accept=".pem"> 
        </nav>

        <nav>
        <label for="proof_of_id"> Upload Signed Proof of ID in pdf</label>
        <input type="file" id="proof_of_id" name="proof_of_id" accept=".pdf"/> 
        </nav>

        <nav>
        <label for="user_type">Select The User Type:</label>
        <select id="user_type" name="user_type">
            <option value="buyer">buyer</option>
            <option value="seller">seller</option>
        </select>
        </nav>
        <button id="signup-submit" onclick = "handleSignupClick()" type="submit"> sign up</button>
    </form>

    <!-- <button id="signup-submit" onclick="handleSignupClick()">sign up</button> -->
    <script type="text/javascript" src = "{% static '/js/signupPage.js' %}"></script>


</body>
</html>