<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>

    <p>
        <strong>Return home</strong>
        <form action="{% url 'return home' %}" method="get">
            <button type="submit">home</button>
        </form>
    </p>

    <h2>Sellers</h2>
    
    <ul>
        {% for seller in sellers %}
            <li>
                {{ seller }} (Seller)
                <a href="{% url 'view profile' seller %}">View Profile</a>
            
            </li>
        {% endfor %}
    </ul>

    <h2>Buyers</h2>
    
    <ul>
        {% for buyer in buyers %}
            <li>
                {{ buyer }} (Buyer)
                <a href="{% url 'view profile' buyer %}">View Profile</a>
            
            </li>
        {% endfor %}
    </ul>
    
</body>
</html>
