<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert dismissible fade show" role = "alert">
        <strong{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
    </div>
    {% endfor %}

    <h1>User Profile</h1>
    <p><strong>Usert Type:</strong> {{ type }}</p>
    <p><strong>Name:</strong> {{ user_info.name }}</p>
    <p><strong>Username:</strong> {{ user_info.username }}</p>
    <p><strong>Email:</strong> {{ user_info.email }}</p>
    
    <p><strong>Public Key:</strong></p>
    <a href="{{ user_info.public_key.url }}">Download Public Key</a>

    <p><strong>Proof of ID:</strong></p>
    <a href="{{ user_info.proof_of_id.url }}">Download Proof of ID</a>

    <p><strong>malicous:</strong> {{ user_info.malicious }}</p>
    <p>
        <a href="{% url 'mark_malicious_buyer' user_info.username 0 %}">Un-Mark Malicious</a>
    </p>

    <p>
        <a href="{% url 'delete_buyer' user_info.username %}"> Delete user </a>
    </p>
    <p>
        <strong>Return home</strong>
        <form action="{% url 'return home' %}" method="get">
            <button type="submit">home</button>
        </form>
    </p>

</body>
</html>