{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Seller Info</title>
</head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert dismissible fade show" role = "alert">
        <strong{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
    </div>
    {% endfor %}
    <h1>All Listings</h1>
    <h3> Filters </h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p>
            <label for="type_property">Type Property:</label>
            <select id="type_property" name="type_property">

                <option value="residential">residential</option>
                <option value="commercial">commercial</option>
                <option value="appartment">appartment</option>
                <option value="industrial">industrial</option>
            </select>
        </p>

        <p>
            <label for="amenities">Select amenities:</label>
            <select id="amenities" name="amenities">

                <option value="security">security</option>
                <option value="clubhouse">clubhouse</option>
                <option value="parking">parking</option>
                <option value="furnished">furnished</option>

            </select>
        </p>

        <p>
            <label for="locality">Locality:</label>
            <input type="text" id="locality" name="locality" placeholder="Type something..."> 
        </p>


        <p>
            <label for="type_contract">Type contract</label>
            <select id="type_contract" name="type_contract">

                <option value="sale">sale</option>
                <option value="rental">rental</option>

            </select>
        </p>

        <p>
            <label for="date">Min Date</label>
            <input type="date" id="date" name="min_date">
        </p>

        <p>
            <label for="date">Max Date</label>
            <input type="date" id="date" name="max_date">
        </p>

        <p>
            <label for="budget">Min Budget</label>
            <input type="number" id="budget" name="min_budget" placeholder="Type something..." min="1" max="1000000000" required> 
        </p>

        <p>
            <label for="budget">Max Budget</label>
            <input type="number" id="budget" name="max_budget" placeholder="Type something..." min="1" max="1000000000" required> 
        </p>


        <button type="submit">Filter</button>

        <p>
            <strong>Return home</strong>
            <form action="{% url 'return home' %}" method="get">
                <button type="submit">home</button>
            </form>
        </p>

    </form>
    

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin: 20px; /* Add margin for spacing */
        }

        table, th, td {
            border: 1px solid #ccc;
        }

        th, td {
            padding: 10px; /* Add padding for spacing */
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>typePropety</th>
                <th>seller</th>
                <th>buyer</th>
                <th>status</th>
                <th>date</th>
                <th>amenity</th>
                <th>budget</th>
                <th>locality</th>
                <th>typeContract</th>
                <th>malicious</th>
                <th>ownershipDoc</th>
                <th>identityDoc</th>
                <th>saleContract</th>
                <th>rentalContract_buyer</th>
                <th>rentalContract_seller</th>
                <th>Interested</th>
                <th>Sign</th>
                <th>Make Payment</th>
                <th>mark malicious</th>

            </tr>
        </thead>
        <tbody>
            {% for info in listing_info %}
                <tr>
                    <td>{{ info.ID }} </td>
                    <td>{{ info.typePropety }}</td>
                    <td>{{ info.seller }}</td>
                    <td>{{ info.buyer }}</td>
                    <td>{{ info.status }}</td>
                    <td>{{ info.date }}</td>
                    <td>{{ info.amenity }}</td>
                    <td>{{ info.budget }}</td>
                    <td>{{ info.locality }}</td>
                    <td>{{ info.typeContract }}</td>
                    <td>{{ info.malicious }}</td>
                    <td>
                        {% if info.ownershipDoc %}
                            <a href="{{ info.ownershipDoc.url }}" download>Download File</a>
                        {% else %}
                            No file available
                        {% endif %}
                    </td>
                    <td>
                        {% if info.identityDoc %}
                            <a href="{{ info.identityDoc.url }}" download>Download File</a>
                        {% else %}
                            No file available
                        {% endif %}
                    </td>
                    <td>
                        {% if info.saleContract %}
                            <a href="{{ info.saleContract.url }}" download>Download File</a>
                        {% else %}
                            No file available
                        {% endif %}
                    </td>
                    <td>
                        {% if info.rentalContract_buyer %}
                            <a href="{{ info.rentalContract_buyer.url }}" download>Download File</a>
                        {% else %}
                            No file available
                        {% endif %}
                    </td>
                    <td>
                        {% if info.rentalContract_seller %}
                            <a href="{{ info.rentalContract_seller.url }}" download>Download File</a>
                        {% else %}
                            No file available
                        {% endif %}
                    </td>
                    <td>
                        {% if info.status == "unsold" %}
                            <a href="{% url 'buyerInterested' info.ID %}">Buy</a>
                        {% else %}
                            listing is sold or in progress
                        {% endif %}
                    </td>
                    <td>
                        {% if info.status == "seller_interested" %}
                            <a href="{% url 'before sign' info.ID %}">Sign</a>
                        {% else %}
                            listing is sold or in progress
                        {% endif %}
                    </td>
                    <td>
                        {% if info.status == "signs_uploaded" %}
                            <a href="{% url 'ekyc2' info.ID %}">Make Payment</a>
                        {% else %}
                            listing is sold or in progress
                        {% endif %}
                    </td>
                    <td>
                        
                    </td>
                    <!--edit button-->

                </tr>
            {% empty %}
                <tr>
                    <td colspan="14">No seller info found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>








